spring:
  cloud:
    openfeign:
      client:
        config:
          feignName:
            url: http://localhost:8182
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: full