spring:
  cloud:
    openfeign:
      client:
        config:
          feignName:
            url: ${api.poupacompra.url}
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: full